body {
	background: #23241f;
	padding: 20px 50px;
	margin: 0px;
}

/* textarea */

textarea {
	background: transparent;
	border: 0px;
	color: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Fira Code', monospace;
	outline: none;
	resize: none;
	font-size: 13px;
}

code {
  font-family: 'Fira Code', monospace;
}

/* the line numbers */

#linenos {
  color: rgba(125, 125, 125, 0.5);
	z-index: -1000;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 30px; /* 30 to get 20 away from box */
	font-size: 13px;
	font-family: 'Fira Code', monospace;
	text-align: right;
}

/* code box when locked */

#box {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	outline: none;
	font-size: 13px;
  overflow: inherit;
}

#box code {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
}

/* key */

#key {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: +1000; /* watch out */
}

#box1 {
	padding: 5px;
	text-align: center;
	background: #161712;
}

#box2 {
	background: #0A0B06;
	/* font-size: 0px; */
	padding: 0px 5px;
}

#box1 a.logo, #box1 a.logo:visited {
	display: inline-block;
	background: url(logo_pastie.svg);
	height: 50px;
  width: 100%;
}

#box1 a.logo:hover {
  filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
}

#box2 .function {
	/* background: url(function-icons.png); */
  background-color: #0A0B06;
	width: 32px;
	height: 37px;
	display: inline-block;
	position: relative;
}

#box2 .link embed {
	vertical-align: bottom; /* fix for zeroClipboard style */
}

#box2 .function.enabled:hover {
	cursor: hand;
	cursor: pointer;
}

#pointer {
	display: block;
	height: 5px;
	width: 10px;
	/* background: url(hover-dropdown-tip.png); */
	bottom: 0px;
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
}

#box3, #messages li {
	background: #3D3E39;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 15px;
}

#box3 .label, #messages li {
	color: #fff;
	font-weight: bold;
}

#box3 .shortcut {
	color: #c4dce3;
	font-weight: normal;
}

#box2 .button-picture{ border-width: 0; font-size: 125%; }

#box2 .function { color: rgba(255,255,255,0.2); }
#box2 .function.enabled { color: #fff; }
#box2 .function.enabled:hover { color: #f92672; }
#box2 .function.enabled.twitter { color: #38A1F3; }

#messages {
	position:fixed;
	top:0px;
	right:138px;
	margin:0;
	padding:0;
	width:400px;
}

#messages li {
	background: #161712;
	margin:0 auto;
	list-style:none;
}

#messages li.error {
	background:rgba(102,8,0,0.8);
}

